<!DOCTYPE html>
<html ng-app>
<head>
    <title>Angular demo</title>
	<script src="/content/js/angular.min.js"></script>
    <link rel="stylesheet" href="/content/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .done-true {
          text-decoration: line-through;
          color: grey;
        }
    </style>
    
</head>
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Angular demo</a>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Angular magic</h2>
            <div ng-controller="TestCtrl">
                <h2>{{name}}</h2>
                <button class="btn" ng-click="changeName()">Change</button>
                <br/>
                <div>
                     <ul>
                    <li ng-repeat="person in people">
                         {{person.name}}
                    </li>
                </ul>
                <button class="btn" ng-click="loadPeople()">Load people</button>
                </div>
               

            </div>
        </div>
    </body>
    
    <script type="text/javascript">
        function TestCtrl($scope, $http) {
            $scope.name = 'Jon';
            $scope.people = [{ name: 'Jon', id: 1 }, { name: 'Kalle', id: 2 }];

            $scope.changeName = function () {
                $scope.name = 'Gyllis';
            };

            $scope.loadPeople = function() {
                $http.get("/data/people")
                    .success(function(data) {
                        $scope.people = data;
                    })
                    .error(function(data, status, headers, config) {
                        console.log(data);
                    });
            };
        }
    </script>
</html>