<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title>Angular demo</title>
	<script src="/content/js/angular.min.js"></script>
	<script src="/content/app/js/app.js"></script>
	<script src="/content/app/js/controllers.js"></script>
	<script src="/content/app/js/filters.js"></script>
	<script src="/content/app/js/services.js"></script>
    <link rel="stylesheet" href="/content/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
    <body>
        
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="brand" href="#">Angular demo</a>
            <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">All people</a></li>
              <li><a href="#/person/new/">Create person</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-view>
        
    </div>  
</body>
</html>